html {
  scroll-behavior: smooth;
}

.line {
  position: relative;
  z-index: 50;
  width: 35px;
  height: 5px;
  display: block;
  margin: 5px auto;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  margin: 11px auto;
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}


#shoes > div:last-child:only-child {
  justify-self: flex-start;
  margin-left: 0;
}


@media (max-height: 830px) {
  #background {
    height: fit-content;
    padding-bottom: 100px;
  }
}

@media (max-width: 400px) {
  #background {
    padding-bottom: 300px;
  }
}